<body style="background-color:	#FFCCFF;">
<div class="container-signin">
<h1>プロフィール編集</h1>

<%= form_for(resource, as: resource_name, url: edit_user_registration_path) do |f| %>
  <%= render 'shared/error_messages', model: f.object %>

 <div class="form-group">
    <%= f.label :名前 %>
    <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :好きな色のポメ %>
    <%= f.collection_select(:color_pome, Genre.all, :id, :name, {}, {autofocus: true, autocomplete: 'genre_id', class: 'form-control'}) %>
  </div>

  <div class="form-group">
    <%= f.label :一言 %>
    <%= f.text_field :a_word, autofocus: true, autocomplete: 'a_word', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit '登録する', class: 'btn btn-primary' %>
  </div>
<% end %>
<%= link_to "TOPへ戻る", root_path,method: :get %>
</div>
</body>