<!doctype html>
<html lang="ja" >
  <head>
    <title>ポメラニアンTweet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="album.css" rel="stylesheet">
    <link href="../example.css" rel="stylesheet">
    <link href="../pomes.css" rel="stylesheet">
  </head>
  <body style="background-color:	#FFCCFF;">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
  <div class="container">
    <span class="skiplink-text">Skip to main content</span>
  </div>
</a>

    <header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">可愛いポメラニアンや愛犬のポメラニアンを自慢しましょう！</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">新規登録</h4>
          <ul class="list-unstyled">
            <!-- <li><a href="#" class="text-white">Follow on Twitter</a></li> -->
            <li><a href="#" class="text-white">Twitter登録</a></li>
            <!-- <li><a href="#" class="text-white">Like on Facebook</a></li> -->
            <li><a href="#" class="text-white">Facebookで登録</a></li>
            <!-- <li><a href="#" class="text-white">Email me</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="users/edit" class="navbar-brand d-flex align-items-center">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
        </svg>
        <% if user_signed_in? %>
        <strong><%= current_user.name %></strong>
        <% else %>
        <strong>ポメ</strong>
        <% end %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main role="main">

  <section class="jumbotron text-center ", style="background-color:pink;">
    <div class="container">
      <!-- <h1 class="jumbotron-heading">Album example</h1> -->
      <h1 class="jumbotron-heading">ポメポメtweet</h1>
      <!-- <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p> -->
      <p class="lead text-muted">可愛いポメラニアンを投稿しよう！</p>
      <p>
        <% if user_signed_in? %>
          <a href="pomes/new" class="btn btn-primary my-2">投稿する</a>
          <%= link_to "ログアウト", destroy_user_session_path,method: :delete, class: "btn btn-primary my-2" %>
        <% else %>
          <!-- <a href="#" class="btn btn-primary my-2">Main call to action</a> -->
          <a href="users/sign_up" class="btn btn-primary my-2">新規登録</a>
          <!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
          <a href="users/sign_in" class="btn btn-secondary my-2">ログイン</a>
          <!--<a href="#" class="btn btn-primary my-2">投稿する</a>-->
        <% end %>
      </p>
    </div>
  </section>
  
  <form class="container w-50">
        <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
        <input class="form-control mr-sm-2" type="text" placeholder="検索" aria-label="Search">
        <br>
        <div class="center">
        <button class="btn btn-success" type="submit">検索</button>
        </div>
  </form>

  <div class="album py-5">
    <div class="container">
      <div class="row">
      <% @pomes.each do |pome|%>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <%= image_tag pome.image, class: "card-img-top" %>
            <div class="card-body">
              <p class="card-text"><%= pome.name %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">                  
                  <%= link_to '詳細', pome_path(pome.id), type:"button",class:"btn btn-sm btn-outline-secondary" %>                 
                  <% if user_signed_in? && current_user.id == pome.user.id %>
                  <%= link_to '編集', edit_pome_path(pome.id), type:"button", class:"btn btn-sm btn-outline-secondary" %>
                  <%= link_to '削除', pome_path(pome.id), method: :delete,type:"button", class:"btn btn-sm btn-outline-secondary" %>
                  <% end %>
                </div>
                <small class="text-muted"><%= pome.user[:name] %></small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <!-- <a href="#">Back to top</a> -->
      <a href="#">トップに戻る</a>
    </p>
  </div>
</footer>
<script src="../../assets/js/vendor/holder.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery-slim.min.js"><\/script>')
</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script><script src="/docs/4.5/assets/js/vendor/anchor.min.js"></script>
<script src="/docs/4.5/assets/js/vendor/clipboard.min.js"></script>
<script src="/docs/4.5/assets/js/vendor/bs-custom-file-input.min.js"></script>
<script src="/docs/4.5/assets/js/src/application.js"></script>
<script src="/docs/4.5/assets/js/src/search.js"></script>
<script src="/docs/4.5/assets/js/src/ie-emulation-modes-warning.js"></script>
  </body>
</html>