<body style="background-color:	#FFCCFF;">
<div class="album py-5">
    <div class="container">
      <h2 class="center">
        <%= @name %>さんの投稿
      </h2>
      <div class="row">
      
      <% @pomes.each do |pome|%>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <%= image_tag pome.image, class: "card-img-top" %>
            <div class="card-body">
              <p class="card-text"><%= pome.name %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">                  
                  <%= link_to '詳細', pome_path(pome.id), type:"button",class:"btn btn-sm btn-outline-secondary" %>                 
                  <% if user_signed_in? && current_user.id == pome.user.id %>
                  <%= link_to '編集', edit_pome_path(pome.id), type:"button", class:"btn btn-sm btn-outline-secondary" %>
                  <%= link_to '削除', pome_path(pome.id), method: :delete,type:"button", class:"btn btn-sm btn-outline-secondary" %>
                  <% end %>
                </div>
                <small class="text-muted"><%= pome.user[:name] %></small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <!-- <a href="#">Back to top</a> -->
      <a href="/">トップに戻る</a>
    </p>
  </div>
</footer>
</body>